@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
details{
    border: 1px solid palevioletred;
    border-radius: 10px;
    margin-bottom: 1rem;
}
details summary{
    background-color: pink;
    border-radius: 10px 10px 0 0;
}
dialog{
    border: 3px solid palevioletred;
}
dialog::backdrop{
    background-color: black;
    opacity: 0.75;
}
#hero{
    border: 1px solid palevioletred;
    background-image: url(images/banff.webp);
}