@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    /*background-image: url(images/tiled-bg.png);*/

    /*background-image: linear-gradient(rgb(0, 213, 255), rgb(132, 44, 162), pink);*/
}
details{
    border: 1px solid palevioletred;
    border-radius: 10px;
    margin-bottom: 1rem;
}
details summary{
    background-color: pink;
    border-radius: 10px 10px 0 0;
}
dialog{
    border: 3px solid palevioletred;
}
dialog::backdrop{
    background-color: black;
    opacity: 0.75;
}
#hero{
    border: 1px solid palevioletred;
    background-image: url(images/banff.webp);
    background-repeat: no-repeat;
    width: 700px;
    height: 467px;
}

#hero h2{
    background-color: white;
    padding: 1rem;
    opacity: 0.75;
}
#hero p{
    background-color: white;
    color: black;
    padding: 0.5rem;
    opacity: 0.75;
}
#hero a{
    text-decoration: none;
    background-color: white;
    padding: 0.5rem;
    opacity: 0.75;
}

@media (prefers-color-scheme-dark){
    body{
        background-color: black;
        color: white;
    }
}

@media (prefers-color-scheme-light){
    body{
        background-color: white;
        color: black;
    }
}